.sub-page{
    background-color: rgb(19, 19, 19);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    box-sizing: content-box;
    height: max-content;
}

.sub-page:first-of-type{
    padding: 20vh 0;
}

.sub-page h1{
    font-size: 5vh;
    text-align: center;
}

.sub-page h2{
    font-size: 2vh;
}

.sub-page ol{
    padding-inline-start: 0;
    user-select: none;
    max-width: 90vh;
    text-align: center;
}

.sub-page li{
    display: inline;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
}

.sub-page li:hover{
    color: gray;
}

.sub-page::after{
    content: '';
    background: rgb(83,0,0);
    background: linear-gradient(90deg, rgba(83,0,0,1) 0%, rgba(128,0,0,1) 33%, rgba(255,248,210,1) 33%, rgba(255,246,199,1) 66%, rgba(8,57,111,1) 66%, rgba(6,33,62,1) 100%);
    position: absolute;
    top: 0;
    width: 30%;
    height: 1vh;
    display: block;
}

.headcommittee{
    background-color: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(5px);
    padding: 5vh;
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 10vh 0;
    min-height: 50%;
    width: 80%;
    text-align: center;
}

.memberCard{
    height: max-content;
    transition: 0.2s;
    padding: 10px;
    border-radius: 25px;
    user-select: none;
}

.memberCard img{
    max-height: 15vh;
    border-radius: 100%;
}

.memberCard:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.397) 0px 10px 50px;
    background-color: rgba(255, 255, 255, 0.034);
}

.div1 { grid-area: 1 / 3 / 2 / 4; }
.div2 { grid-area: 2 / 2 / 3 / 3; }
.div3 { grid-area: 2 / 4 / 3 / 5; }
.div4 { grid-area: 3 / 3 / 4 / 4; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 5 / 4 / 6; }
.div7 { grid-area: 4 / 2 / 5 / 3; }
.div8 { grid-area: 4 / 4 / 5 / 5; }

.committeemembers{
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    gap: 25px;
    margin-top: 25px;
    text-align: center;
}



@media screen and (max-width: 768px){
    .headcommittee{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sub-page ol{
        font-size: 2vh;
    }
    .sub-page::after{
        width: 50%;
    }
    .committeemembers{
        display: flex;
        flex-direction: column;
    }
    .memberCard:hover{
        box-shadow: none;
        background-color: transparent;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    .committeemembers{
        grid-template-columns: repeat(2, 350px);
    }
}
