.competition{
    height: 100vh;
    max-width: 100vw;
    padding: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(19, 19, 19);
    color: white;
}

.competition h1{
    font-size: 8vh;
    width: auto;
    line-height: 8vh;
}

.competition h2{
    width: max-content;
    font-size: 1.5vh;
}

.about{
    margin: 25px;
    width: 60vw;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 2vh;
    border: 1px solid gold;
    color: gold;
    text-shadow: rgba(255, 217, 0, 0.425) 0 0 9px;
    cursor:default;
}

@media screen and (max-width: 768px){
    .about{
        width: 90vw !important;
    }
}