:root {
  --main-color: #000000;
  --second-color: #020202;
  --third-color: #131313;
  --forth-color: #070a11;
  --border: #2069c7;
  --text: #fff;
}

/* Genral Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

body {
  background: #000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.title {
  width: 100vw;
  height: 100px;
  text-align: center;
  /* background: red; */
  align-items: center;
  justify-content: center;
}

.title h1 {
  color: var(--text);
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 10px;
  margin-top: 20px;
}

.title span {
  color: var(--text);
  line-height: 0px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.nav {
  display: flex;
  /* background: red; */
  margin-top: 30px;
  width: 80vw;
  height: 40px;
  justify-content: space-around;
  justify-self: center;

}

.nav-btn {
  display: flex;
  align-items: center;
  position: relative;
  /* background: #000; */
  width: max-content;
  height: 40px;
  border-radius: 19px;
  text-transform: uppercase;
  color: var(--text);
  margin-inline: 10px;
  padding-inline: 10px;
  border: 3px solid var(--border);
  font-weight: 600;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.nav-btn:hover {
  background: var(--border);
  box-shadow: 0 0 5px var(--border);
  transform: scale(1.01);
}


.carousel-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(0);
    opacity: 1;
  }

  30% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 350px;
  /* background: red; */
}

.pic-ctn>img {
  position: absolute;
  opacity: 0;
  margin: 0;
  padding: 0;
  animation: display 20s infinite;
  border-radius: 15px;
  height: 350px;
}

img:nth-child(2) {
  animation-delay: 4s;
}

img:nth-child(3) {
  animation-delay: 8s;
}

img:nth-child(4) {
  animation-delay: 12s;
}

img:nth-child(5) {
  animation-delay: 16s;
}

.about {
  color: var(--text);
  margin-top: 50px;
  height: fit-content;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-ctn {
  width: 70vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-ctn h1 {
  font-size: 5rem;
}

.about-ctn p {
  text-align: justify;
}

.winners-ctn {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: fit-content;
}

.winners-ctn h1 {
  color: var(--text);
  font-size: 5rem;
  text-transform: uppercase;
}

.competitions {
  display: flex;
  height: 80vh;
  width: 100vw;
  /* background: red; */
}

.parent {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  height: fit-content;
  width: 90vw;
  align-items: center;
  justify-content: space-around;
  background: rebeccapurple;
  flex-wrap: wrap;
}
.comp {
  width: 400px;
  height: 230px;
  background: #000;
  margin: 20px;
  border-radius: 20px;
}
.div5{
  width: 85%;
}

.or-hr-text{
  font-size: 5rem !important;
  font-weight: 600;
}


.gallery-container{
  
}
.gallery{
}
.absolute{
  position: absolute;
  transition: 0.3s ease-in-out;
}
.border{
  border-radius: 15px;
  border: 2px solid var(--text);
}
.hover:hover{
  box-shadow: 0 0 10px var(--border);
  transform: scale(1.1);
  z-index: 11;
}
.pic1{
}
.pic2{
}
.pic3{
}
.pic4{
}
.pic5{
}
.pic6{
}
.pic7{
}
.pic8{
}