body{
    background: #000;
}
.shape-bg-ctn{
    z-index: -1;
}

.agenda-stn{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
.agenda-ctn{
    /* background: red; */
    width: 70%;
    height: 100vh;
    border: 2px solid var(--border);
    margin-top: 20px;
    border-radius: 20px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 10px var(--border);
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
.agenda-ctn h1{
    text-align: center;
    font-family: 'eurofighter', sans-serif;
    text-transform: lowercase;
    font-size: 5rem;
    margin: 20px;
    flex-wrap: wrap;
}
#sub-topic{
    width: 100%;
    /* background: red; */
    text-align: center;
    margin-top: -30px;
    font-family: 'poppins', sans-serif;
    letter-spacing: 4px;
    word-spacing: 7px;
}
#agenda{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-family: 'eurofighter';
}
#soon{
    margin-top: 100px;
    /* background: red; */
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .agenda-ctn{
        width: 80%;
    }
    .agenda-ctn h1{
        font-size: 4.5rem;
    }
}
