/* body{
    background: #000;
} */
.shape-bg-ctn{
    z-index: -1;
}

.agenda-stn{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
.agenda-ctn{
    /* background: red; */
    width: 90%;
    height: fit-content;
    border: 2px solid var(--border);
    margin-top: 20px;
    border-radius: 20px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 10px var(--border);
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
.agenda-ctn h1{
    text-align: center;
    font-family: 'eurofighter', sans-serif;
    text-transform: lowercase;
    font-size: 2.3rem;
    margin: 20px;
    flex-wrap: wrap;
}
#sub-topic{
    width: 100%;
    /* background: red; */
    text-align: center;
    /* margin-top: -30px; */
    font-family: 'poppins', sans-serif;
    letter-spacing: 4px;
    /* word-spacing: 7px; */
}
#agenda{
    text-align: center;
    /* margin-top: 70px; */
    /* margin-bottom: 10px; */
    text-transform: lowercase;
    font-family: 'eurofighter';
}
#soon{
    margin-top: 100px;
    /* background: red; */
}
#reg-start{
    margin-top: 10vh;
    margin-bottom: 3vh;
}
.agenda-ctn h3{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 5vw;
    /* word-spacing: 10px; */
    /* margin-top: ; */
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
}

.content-ctn{
    display: flex;
    height: fit-content;
}
.left{
    margin-top: 3vh;
    width: 40%;
    display: flex;
    /* background: red; */
    height: fit-content;
}
.left h3 span{
    flex-wrap: nowrap;
    font-size: 15px;
}
.right{
    margin-top: 3vh;
    width: 60%;
    display: flex;
    /* background: blueviolet; */
    height: fit-content;
    text-align: left !important;
}
.right h3 span{
    flex-wrap: nowrap;
    font-size: 16px;
}

#pres{
    margin-bottom: 30px;
}
#cert1{
    margin-bottom: 25px;
}
#cert2{
    margin-bottom: 30px;
    margin-top: 5px;
}
#cert3{
    margin-bottom: 30px;
}
#thanks{
    margin-bottom: 3vh;
}