.or-hrdivider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3vh;
}
.or-hr {
    border: 0;
    border-top: 6px solid #ffffff;
    flex: 1;
    margin: 0 30px;
}
.or-hr-text {
    font-family: "kanit", sans-serif;
    font-size: 2rem;
    white-space: nowrap;
    padding: 0 10px;
    color: #ffffff;
}