* {
    border: none;
    margin: 0;
}
footer {
    background: var(--third-color);
    height: fit-content;
    width: 100vw;
    border-radius: 20px 20px 0 0;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
}
.or {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.line {
    border: 0;
    border-top: 2px solid #ffffff;
    flex: 1;
    margin: 0 30px;
}
.ftr-title {
    font-size: 2rem;
    font-weight: 600;
}
.disc {
    content: '◯';
}
.no-right {
    margin-right: -2px;
    margin-top: 4px;
}
.no-left {
    margin-left: -2px;
    margin-top: 4px;
}
.rights {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: monospace;
    font-size: 15px;
}
.social {
    height: fit-content;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 0;
    margin-inline: 0;
    justify-self: center;
    margin-top: 10px;
    margin-left: -5vw;
    /* background: #000; */
}
.bx {
    transform: scale(1.3);
    /* background: #000; */
    display: flex;
    height: fit-content;
    position: relative;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.bx span {
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    margin-left: 5px;
    position: absolute;
    top: 2px;
}
.bx:hover {
    transform: scale(1.4);
}

.other{
    width: 60%;
    display: flex;
    /* background: #000; */
    justify-self: center;
    justify-content: space-between;
    margin-top: 15px;
}
.other i{
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
}