
/* Mobile styles */
@media (min-width: 100px) and (max-width: 430px){
    *{
        margin-top: 6vh;
    }
    .svg-bg{
        margin-top: -5vh;
    }
    .title h1{
        font-size: 2rem !important;
    }
    .title span{
        display: flex;
        flex-wrap: wrap;
        font-size: 10px !important;
        line-height: 10px;
        letter-spacing: 1px;
        word-spacing: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }
    .nav{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .nav a{
        height: 10px;
    }
    .nav-btn{
        transform: translateY(-100px);
        margin: none;
        line-height: 0px;
    }
    .pic-ctn{
        transform: scale(0.4);
    }
    .about-ctn h1{
        font-size: 3rem;
    }
    #gallery{
        visibility: hidden;
        height: 0;
    }
    .card{
        top: -5vh;
    }
    .back-content, .front-content{
        transform: translateY(-3vh);
    }
    .description{
        transform: translateY(-7vh);
    }
    .front-content{
        transform: translateY(-23vh);
    }
    .agenda-btn span{
        transform: translateY(-20px);
    }
    .agenda-btn-container{
        transform: translateY(10vh);
    }
    #agenda{
        transform: translateY(-18vh);
    }
    #load1{
        display: flex;
        position: fixed;
        top: 0;
        height: 100%;
        align-self: center;
        align-items: center;
        justify-content: center;
        justify-self: center;
    }
}

@media (min-width: 431px) and (max-width: 768px) {
    .pic-ctn{
        transform: scale(0.7);
    }
    #gallery{
        visibility: hidden;
        height: 0;
    }
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .nav {
        display: flex;
        justify-content: space-around;
    }
    .pic-ctn{
        transform: scale(.7);
    }
    .svg-bg{
        height: 60vh !important;
    }
    .div5{
        height: 250px;
    }
    .gallery-container{
        margin-top: 200px;
        height: fit-content;
    }
    .gallery-item{
        height: 50vh;
    }
    .pic1,
    .pic2{
        transform: translateX(-80px);
    }
    .pic3{
        transform: translate(-50px, -70px);
    }
    .pic4{
        transform: translate(80px, -40px);
    }
    .pic5{
        transform: translate(-30px, 70px);
    }
    .pic6{
        transform: translateX(100px);
    }
    .pic7{
        transform: translate(-50px, -500px);
    }
    .pic8{
        transform: translate(150px, -500px);
    }
    .glry-btn-ctn{
        transform: translateY(-100px);
    }

}

/* Desktop styles */
@media (min-width: 1025px) and (max-width: 1380px) {
    .gallery-container{
        width: 100vw;
        height: fit-content;
    }
    .gallery-item{
        margin-top: 10px;
    }
    .pic7, 
    .pic8{
        transform: translateY(-100px);
    }
    .glry-btn-ctn{
        transform: translateY(-70px);
    }
    .glry-btn-ctn div{
        margin: 0;
        bottom: 0;
    }
}


/* larger screens */
@media (min-width: 1380px) {
    
}