.visible {
    opacity: 1 !important;
}
.shape-bg-ctn {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    height: 100vh;
    width: 100vw;
    transition: 1s ease-in-out;
    opacity: 0;
    z-index: -1;
}
.svg-bg {
    width: 100vw;
    height: 100vh;
}
.bg {
    height: 100vh;
}

.line1,
.line12,
.line3,
.line4,
.line15,
.line6,
.line7,
.line18,
.line19,
.line10,
.line21 {
    animation: moveLine1 2s;
}
@keyframes moveLine1{
    from{
        transform: translate(-100px, -100px);
    }to{
        transform: translate(0);
    }
}

.line2,
.line13,
.line14,
.line5,
.line16,
.line17,
.line8,
.line9,
.line20,
.line11,
.line2{
    animation: moveLine2 2s;
}
@keyframes moveLine2{
    from{
        transform: translate(100px, 100px);
    }to{
        transform: translate(0);
    }
}