#funitem{
    /* background: red; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    margin-top: -10vh;
    top: 0 !important;
    /* background: red; */
}
.subtitle{
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    transition: .5s ease-in-out;
}
.subtitle h1{
    font-family: 'eurofighter', sans-serif;
    font-size: 3.5rem;
}
#schlName{
    width: 200px;
    height: 40px;
    margin-top: 50px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid white;
    border-radius: 20px;
    transition: .3s ease-in-out;
    padding-inline: 10px;
}
#formId{
    transition: .3s ease-in-out;
}
.form-group {
    margin-top: 40px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100vw;
    /* background: red; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-group input {
    position: relative;
    width: 300px;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease;
}
.form-group input:focus{
    width: 450px;
}
.form-group label {
    position: absolute;
    display: flex;
    justify-self: center;
    top: 25;
    /* left: 12px; */
    font-size: 16px;
    color: #aaa;
    padding: 0px 5px;
    margin-left: -120px;
    border-radius: 25px;
    background-color: black;
    pointer-events: none;
    transition: 0.2s;
    transform: translateY(-50%);
}

.form-group input[type=submit]{
    margin: 15px;
    width: 8vw;
    padding: 6;
}

.form-group input[type=submit]:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: -1px;
    /* left: -10px; */
    margin-left: -250px;
    color: #fff;
}
footer{
    bottom: 0;
}
.next{
    margin-top: 20px !important;
}
#next1{
    /* color: red; */
    margin-top: -45px;
    border: 1px solid white;
    border-radius: 30px;
    transition: .3s ease-in-out;
}
#next1 h2{
    font-family: 'eurofighter', sans-serif;
    padding: 10px;
    padding-inline: 20px;
    letter-spacing: 2px;
}
#next1:hover {
    background: white;
    cursor: pointer;
}
#next1:hover h2{
    color: black;
}

.sq{
    position: absolute;
    align-self: center;
    justify-self: center;
    top: 53vh;
    background: white;
    height: 25vh;
    width: 0;
    transition: .5s ease-in-out;
    transform: translateX(100vw);
    z-index: -1;
}
#sq2{
    height: 35vh;
    top: 43vh;
}

#Q1{
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
}
#q1label{
    visibility: hidden;
    opacity: 0;
    margin-left: -200px;
}
#q1:focus + #q1label{
    margin-left: -300px;
}
.next2{
    position: absolute;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
}
#question1{
    position: absolute;
    top: 0;
    margin-top: -120px;
    /* background: red; */
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
#question1:hover{
    transform: scale(1.1);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(90, 89, 89, 0.473);
    padding-inline: 20px;
}
#question1 span{
    font-size: 1.5rem;
    text-decoration: underline;
    line-height: 50px;
    font-weight: 400;
    cursor: text;
}

#Q2{
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
}
#q2label{
    visibility: hidden;
    opacity: 0;
    margin-left: -200px;
}
#q2:focus + #q2label{
    margin-left: -300px;
}
.next3{
    position: absolute;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
}
#question2{
    position: absolute;
    top: 0;
    margin-top: -120px;
    /* background: red; */
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
#question2:hover{
    transform: scale(1.1);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(90, 89, 89, 0.473);
    padding-inline: 20px;
}
#question2 span{
    font-size: 1.5rem;
    text-decoration: underline;
    line-height: 50px;
    font-weight: 400;
    cursor: text;
}


#question3{
    position: absolute;
    top: 0;
    margin-top: -120px;
    /* background: red; */
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
#question3:hover{
    transform: scale(1.1);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(90, 89, 89, 0.473);
    padding-inline: 20px;
}
#question3 span{
    font-size: 1.5rem;
    text-decoration: underline;
    line-height: 50px;
    font-weight: 400;
    cursor: text;
}
#Q3{
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
}
#q3label{
    visibility: hidden;
    opacity: 0;
    margin-left: -200px;
}
#q3:focus + #q3label{
    margin-left: -300px;
}
.next3{
    position: absolute;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
}
.next4{
    position: absolute;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
}

#question4{
    position: absolute;
    top: 0;
    margin-top: -120px;
    /* background: red; */
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
#question4:hover{
    transform: scale(1.1);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(90, 89, 89, 0.473);
    padding-inline: 20px;
}
#question4 span{
    font-size: 1.5rem;
    text-decoration: underline;
    line-height: 50px;
    font-weight: 400;
    cursor: text;
}
#Q4{
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
}
#q4label{
    visibility: hidden;
    opacity: 0;
    margin-left: -200px;
}
#q4:focus + #q4label{
    margin-left: -300px;
}
.next5{
    position: absolute;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
}

#question5{
    position: absolute;
    top: 0;
    margin-top: -120px;
    /* background: red; */
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
#question5:hover{
    transform: scale(1.1);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(90, 89, 89, 0.473);
    padding-inline: 20px;
}
#question5 span{
    font-size: 1.5rem;
    text-decoration: underline;
    line-height: 50px;
    font-weight: 400;
    cursor: text;
}
#Q5{
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
}
#q5label{
    visibility: hidden;
    opacity: 0;
    margin-left: -200px;
}
#q5:focus + #q5label{
    margin-left: -300px;
}
.next6{
    position: absolute;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
}

.submit-btn {
   position: absolute;
   margin-top: 10vh; 
   visibility: hidden;
   opacity: 0;
   z-index: -1;
   cursor: pointer;
}

.success{
    position: fixed;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(0, 0, 0, .3);
    margin-top: 5vh;
    height: fit-content;
    width: 60vw;
    border-radius: 20px;
    border: 2px solid rgb(85, 148, 230);
    box-shadow: 0 0 10px rgb(85, 148, 230);
    visibility: hidden;
    opacity: 0;
    transition: .4s ease-in-out;
}
*{
    padding:0;margin:0
}
.wrapper{
    /* height:100vh; */
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    transform: scale(2);
    top: 0;
    z-index: -1;
}
.checkmark__circle{
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.8s cubic-bezier(0.65, 0, 0.45, 1) forwards
}
.checkmark{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .5s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}
.checkmark__check{
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.4s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}
@keyframes stroke{
    100%{
        stroke-dashoffset: 0
        }
}
@keyframes scale{
    0%, 100%{
        transform: none
        }
    50%{
        transform: scale3d(1.1, 1.1, 1)
        }
}
@keyframes fill{
    100%{
        box-shadow: inset 0px 0px 0px 30px #7ac142
        }
}
.success h1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    font-family: 'eurofighter';
    text-transform: lowercase;
    line-height: 50px;
}
.success span{
    font-family: 'poppins', sans-serif;
    word-spacing: 5px;
    letter-spacing: 3.5px;
}
.success h2{
    display: flex;
    flex-direction: column;
    font-family: 'incompleeta', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
}
.success h2 span{
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 1rem;
    font-weight: 300;
}
.done-ctn{
    /* background: red; */
    z-index: -1;
}
#done{
    margin: 20px;
    font-size: 1.5rem;
    background: #000;
    padding: 5px;
    padding-inline: 15px;
    border: 2px solid rgb(85, 148, 230);
    border-radius: 25px;
    font-family: 'eurofighter';
    cursor: pointer;
    z-index: 999;
    transition: .2s ease;
}
#done:hover{
    color: #000;
    background: rgb(85, 148, 230);
    box-shadow: 0 0 10px rgb(85, 148, 230);
}

#fail{
    position: fixed;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(0, 0, 0, .3);
    margin-top: 5vh;
    height: fit-content;
    width: 60vw;
    border-radius: 20px;
    border: 2px solid rgb(85, 148, 230);
    box-shadow: 0 0 10px rgb(85, 148, 230);
    visibility: hidden;
    opacity: 0;
    transition: .4s ease-in-out;
}
.wrapper{
    /* height:100vh; */
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    transform: scale(2);
    top: 0;
    z-index: -1;
}
.checkmark__circle{
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.8s cubic-bezier(0.65, 0, 0.45, 1) forwards
}
.checkmark{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .5s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}
.checkmark__check{
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.4s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}
@keyframes stroke{
    100%{
        stroke-dashoffset: 0
        }
}
@keyframes scale{
    0%, 100%{
        transform: none
        }
    50%{
        transform: scale3d(1.1, 1.1, 1)
        }
}
@keyframes fill{
    100%{
        box-shadow: inset 0px 0px 0px 30px #7ac142
        }
}
.fail h1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    font-family: 'eurofighter';
    text-transform: lowercase;
    line-height: 50px;
}
.fail span{
    font-family: 'poppins', sans-serif;
    word-spacing: 5px;
    letter-spacing: 3.5px;
}
.fail h2{
    display: flex;
    flex-direction: column;
    font-family: 'incompleeta', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
}
.fail h2 span{
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 30px;
}
.done-ctn{
    /* background: red; */
    z-index: -1;
}
#done{
    margin: 20px;
    font-size: 1.5rem;
    background: #000;
    padding: 5px;
    padding-inline: 15px;
    border: 2px solid rgb(85, 148, 230);
    border-radius: 25px;
    font-family: 'eurofighter';
    cursor: pointer;
    z-index: 999;
    transition: .2s ease;
}
#done:hover{
    color: #000;
    background: rgb(85, 148, 230);
    box-shadow: 0 0 10px rgb(85, 148, 230);
}
.fail .wrapper img{
    position: relative;
    height: 40px;
    width: auto;
    margin: 50px;
    border-radius: 5px;
}
#options{
    margin-top: 20px;
    display: flex;
    text-align: left;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20vw;
}


.wrong{
    position: fixed;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(0, 0, 0, .3);
    margin-top: 5vh;
    height: fit-content;
    width: 60vw;
    border-radius: 20px;
    border: 2px solid rgb(85, 148, 230);
    box-shadow: 0 0 10px rgb(85, 148, 230);
    visibility: hidden;
    opacity: 0;
    transition: .4s ease-in-out;
}
.wrapper{
    /* height:100vh; */
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    transform: scale(2);
    top: 0;
    z-index: -1;
}
.wrong h1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    font-family: 'eurofighter';
    text-transform: lowercase;
    line-height: 50px;
}
.wrong span{
    font-family: 'poppins', sans-serif;
    word-spacing: 5px;
    letter-spacing: 3.5px;
}
.wrong h2{
    display: flex;
    flex-direction: column;
    font-family: 'eurofighter', sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 3px;
    font-size: 2rem;
    margin-bottom: 10px;
}
.wrong h2 span{
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 30px;
}
.done-ctn{
    /* background: red; */
    z-index: -1;
    display: flex;
    justify-content: center;
}
#done{
    margin: 20px;
    font-size: 1.5rem;
    background: #000;
    padding: 5px;
    padding-inline: 15px;
    border: 2px solid rgb(85, 148, 230);
    border-radius: 25px;
    font-family: 'eurofighter';
    cursor: pointer;
    z-index: 999;
    transition: .2s ease;
    width: fit-content;
}
#done:hover{
    color: #000;
    background: rgb(85, 148, 230);
    box-shadow: 0 0 10px rgb(85, 148, 230);
}
.wrong .wrapper img{
    position: relative;
    height: 40px;
    width: auto;
    margin: 50px;
    border-radius: 5px;
}
#options{
    margin-top: 20px;
    display: flex;
    text-align: left;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20vw;
}